.mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-top: 2.5rem;

  width: 100%;
  margin-bottom: 2rem;
}

.cardMovieContainer {
  width: 16rem;
  height: 20rem;
  position: relative;

  margin: 2.5rem;
}

.cardMovie {
  position: relative;
  width: 100%;
  height: 12.5rem;
  border: 2px solid var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #dfe6ed;

  .releaseDate {
    position: absolute;
    font-weight: 500;
    bottom: 0;
    color: #fff;
  }

  .pictureIcon {
    width: 5rem;
    height: 5rem;
    color: #9eadba;
  }

  .heartIcon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.75rem 0.75rem;
    width: 2rem;
    height: 2rem;
    color: #fff;

    cursor: pointer;
  }

  img {
    width: 100%;
    height: 12.25rem;
    background-size: contain;
  }
}

.cardMovieInfos {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0.75rem;
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);

  p {
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
  }

  .infosContent {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.25rem 0;

    .rate {
      font-weight: 700;
      margin-right: 0.5rem;
    }

    .starIcon {
      width: 1.25rem;
      height: 1.25rem;
      color: #4b5c6b;
    }
  }

  span {
    font-weight: 500;
  }
}

button {
  border: none;
  background-color: var(--button);
  width: 100%;
  height: 2.375rem;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
}

@media (max-width: 1080px) {
  .mainContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .mainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
